body{
    background: #f8f8f8;
}
@font-face {
    font-family: 'BPGNinoMtavruli';
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */
}


#question{
    font-size: 50px;
    font-weight: bold;
}
.content{
    border-radius: 15px;
}
.dashboard-head{
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #ddd;
}

#resultinput{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    min-height: 44px;
    border: unset;
    z-index: 1;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
}

#level{
    font-weight: bold;
}

#resultbtn{
    display: inline-block;
    color: #252537;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;

}

.btn-rand-quest {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 27px;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-rand-quest:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn-rand-quest:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.default-btn{
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 8px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    font-family: BPGNinoMtavruli;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.default-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}
  
.default-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

a,label,p, h1,h2,h3,h4,h5,h6{
    font-family: BPGNinoMtavruli;
}

.audio{
    opacity: 0;
}

.question-content{
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    border-radius: 4px;
    position: relative;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
}

.dashboard-head-level h6{
    position: absolute;
    right: 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #000;
    margin-top: -25px;
}
.dashboard-head-time h6{
    position: absolute;
    left: 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #000;
    margin-top: -25px;
}

img{
    position: relative;
}

.success-div{
    position: relative;
    display: inline-block;
    background-color: #2ea44f;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #000;
}
.wrong-div{
    position: relative;
    display: inline-block;
    background-color: #FF4742;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #000;
}

.form-control{
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border: 1px solid #000!important;
    box-shadow: none!important;
    outline: none!important;
}